.product-list ul li {
    font-weight: bold;
    color: #180354;
    line-height: 34px;
    font-size: 16px;
}

.call-to-action-modal {
    background-color: #1FD790;
    font-size: 20px;
    width: 300px;
    height: 60px;
}

.card-title-product {
    color: #F55541;
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 20px;
    letter-spacing: 3px;
}

.card-subtitle-product {
    padding-left: 30px;
    margin-top: -30px;
    padding-left: 20px;
    color: #180354;
    font-weight: bold;
    letter-spacing: 1px;
}

.card-product-image {
  transform: skewX(-4deg);
  border-color: #F55541;
  border-radius: 6px;
  border-style: double;
}

.banner-stats-text {
  font-size: 62px;
  color: #F55541;
}

@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  
  .tcontainer{
    width: 100%;
    overflow: hidden;
  }

  .ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: black;
    height: 80px;
  }

  .ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 8s;
  }

  .ticker-item {
    font-family: 'Share', cursive;
    display: inline-block;
    padding: 20px;
    color: #99D315;
    font-size: 20px;
  }

  @media screen and (max-width: 390px) {
    @keyframes ticker {
      0% { transform: translate3d(0, 0, 0); }
      100% { transform: translate3d(-100%, 0, 0); }
    }
    .tcontainer{
      width: 100%;
      overflow: hidden;
    }
    .ticker-wrap {
      width: 100%;
      padding-left: 100%;
      background-color: black;
      height: 20px;
    }
    .ticker-move {
      display: inline-block;
      white-space: nowrap;
      padding-right: 100%;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: ticker;
      animation-duration: 8s;
    }
    .ticker-item {
      font-family: 'Share', cursive;
      display: inline-block;
      padding: 10px;
      color: #99D315;
      font-size: 20px;
    }
  }
